.mainRestList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardItemWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}