.restaurantCardWrapper {
  height: 100%;
  width: 100%;
}
.cardItemWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  .wrapImg {
    height: 50%;
    width: 100%;
  }
}