.mainLayout {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template:
    'head' 'head' 1fr
    'main' 'main' 10fr
    'footer' 'footer' 1fr;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
  margin: 2% 1% 2% 1%;
}

footer {
  grid-area: footer;
}
